.header {
	height: 80px;
	background-color: #1c2b35;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 140px 0 140px;
}
.header a {
	text-decoration: none;
	margin-left: 36px;
	color: #ffffff;
	font-size: 17px;
}
.header a:hover {
	color: orange;
}
